{% extends 'tragedia/padre.html' %}
{%load static%}

{% block titulo %}
Artículos
{% endblock %}

{% block contenido_mutable%}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Artículos</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    

        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img"><img src="{% static 'tragedia/assets/img/bg-showcase-1.jpg' %}" alt="Background Image"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>¿Quien soy?</h2>
                        <p class="lead mb-0">Mi nombre es Zoe Paz y soy licenciada en Gobierno y Relaciones Internacionales. Durante mi licenciatura escribí muchos articulos pero no tuve donde publicarlos. Es por ello que cree esta página, para que estudiantes de todas las carreras puedan publicar sus artículos de investigación.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'tragedia/assets/img/bg-showcase-2.jpg' %})"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>¿Que es Tragedia?</h2>
                        <p class="lead mb-0">Tragedia es una página web que permite a los estudiantes publicar sus artículos de investigación. Los artículos pueden ser de cualquier tema, siempre y cuando sean de investigación. </p>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img"><img src="{% static 'tragedia/assets/img/bg-showcase-3.jpg' %}" alt="Background"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Facil de utilizar </h>
                        <p class="lead mb-0">Tragedia es una página web muy fácil de utilizar. Solo tienes que registrarte, categorizar y publicar tu artículo. </p>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
      
{% endblock %}